.navbar {
    background-color: #d1d100;
}

.sobre-nos {
    background-color: aqua;
    color: red;
}

.margin {
    padding-bottom: 30px;
    padding-top: 10px;
}

.parceiros {
    background-color: #5ec95a
}

.serviços {
    background-color:lightslategray;
}

.autor {
    background-color: #87cefa;
}

.bg-footer {
    background-color: black;
    color: chocolate;
}

.app {
    color: white;
}

.siga {
    color: aliceblue;
}

.titulo-rede {
    color: blueviolet;
}

.texto-rede {
    font-size: 12px;
    text-align: justify;
}